.high
{
    width: 100%;
    height: 500px;
}

.campus-life-main-div
{
    border: 3px solid lightgrey;
}

.campus-life-main-div img
{
    width: 100%;
}

.campus-life-main-div h5 , .campus-life-main-div p
{
    margin: 20px;
}